body{
    background-color: white;
}
.myDiv{
    text-align: center;
    margin: auto;
    background-color: palevioletred;
    color: white;
    width:50%;
}
input{
    margin: 3%;
    border: solid 5px black;
}
h1{
    color:white;
    font-weight: bold;
}
.validation label{
    color: red;
}
.validation input{
    border-color: red;
}